<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.yizhao.activity"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
    
    	<activity android:name=".AppStartActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".CommActivityGroup" android:label="@string/app_name" android:windowSoftInputMode="adjustPan" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".DownloadActivity" android:label="@string/app_name" android:theme="@style/transparent" android:configChanges="orientation"/>
        <activity android:name=".IndexGalleryActivity" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".SearchActivity" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".ProductActivity" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".MyScActivity" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".DetailActivityGroup" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".DetailActivity" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ReceiveActivity" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ShopActivity" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".BlogActivity" android:launchMode="singleTask" android:label="@string/app_name" android:theme="@style/transparent" android:configChanges="orientation|keyboardHidden">
				<intent-filter>
	                <action android:name="android.intent.action.VIEW" />
					<category android:name="android.intent.category.DEFAULT" />
					<category android:name="android.intent.category.BROWSABLE" />
	                <data android:scheme="yizhaoApp" android:host="BlogActivity"/>
                </intent-filter>
        </activity>
        <!-- android:screenOrientation="portrait"  -->
			
    </application>
    
    <supports-screens android:anyDensity="true" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
</manifest>